mlflow==2.14.1
cloudpickle==3.0.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
minio==7.2.7
boto3==1.34.134
pyspark==3.5.1
psutil==6.0.0
python-dotenv==1.0.1
transformers==4.42.4
torch==2.3.1